# MongoDB
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=saturivia
MONGO_AUTH_DB=admin

# Telegram bot tokens
BOT_TOKEN=
TEST_BOT_TOKEN=

# ChGK channel
CHGK_CHANNEL_ID=
CHGK_CHANNEL_TEST_ID=
CHGK_CHANNEL_CHAT_ID=
CHGK_CHANNEL_CHAT_TEST_ID=

# Admin (Telegram user ID of the bot admin)
ADMIN_TELEGRAM_ID=

# App
PORT=4000
NODE_ENV=development
